<!doctype html>
<head>
  <meta charset="utf-8">
  <title>First Project</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <div ng-app="firstAngular" ng-controller="firstController" class="container" ng-cloak>

  	<div class="navbar navbar-default">
  		<div class="container-fluid">
				<div class="navbar-header">
					<div class="navbar-brand" href="#">ng-first-app</div>
				</div>
  		</div>
  	</div>

    <div class="container" style="padding-left:0">
    	<div class="col-sm-4" ng-repeat="image in images" style="padding-left:0">
    		<div class="thumbnail">
    			<a href="#" ng-click="openModal(image.url)">
  					<img ng-src="images/{{image.url}}.jpg" alt="" />
  				</a>
    			<div class="caption">
    				<h3>{{image.url}}</h3>
    			</div>
    		</div>
    	</div>
    </div>

    <!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog" style="width:90%">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">{{imageUrl}}</h4>
		      </div>
		      <div class="modal-body">
		        <img ng-src="images/{{imageUrl}}.jpg" style="width:100%; height:auto"; alt="" />
		      </div>
		    </div>
		  </div>
		</div>
  </div>
</body>

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  <!-- crossorigin="anonymous"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="app.js"></script>
  <script src="app/app.routes.js"></script>
  <script src="scripts/firstController.js"></script>
  <script src="scripts/firstFactory.js"></script>
</html>